@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins&display=swap');

:root {
    --primary-green: #51B28A;
    --secondary-green: #D4E8DA;
    --primary-button: #B877B9;
    --important-thing: #FCFF61;
    --very-important-thing: #FF8C8C;
  }

body {
    font-family: 'Poppins', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* footer support */
  position: relative;
  min-height: 100%;
}

h1, h2, h3, h4 {
  font-family: 'Cutive', serif;
  font-weight: 400;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 1.6rem;
  padding: 0.6em;
}

.header {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 1.4rem 3rem;
  background-color: var(--primary-green);
}

.logo {
  max-height: 4.8rem;
  margin-right: 1em;
}

.btn-icon {
  height: 1.5rem;
}

.list-icon {
  height: 1.8rem;
  margin-right: 1em;
}

.title {
  display: flex;
  align-items: center;
}

.main {
  display: flex;
  height: calc(100vh - 9.6rem);
  line-height: 1.8;
}

aside {
  background-color: var(--secondary-green);
  border-right: 2px var(--primary-green) solid;
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
}

.things-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

footer {
  background-color: var(--primary-green);
  display: grid;
  place-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
}

.active-list {
  background: pink;
}

.button {
  width: 200px;
  font-size: 1.1rem;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8em;
  background-color: var(--primary-button);
}

.add-thing-button {
  
}

.buttons-container {
  display: flex;
  margin: 0 auto;
  gap: 5rem;
}